<div class="modal show" id="octStockNotifier" tabindex="-1"  aria-labelledby="octStockNotifierLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered wide">
	    <div class="modal-content">
	        <div class="modal-header">
				<div class="modal-title" id="octStockNotifierLabel">{{ heading_title }}</div>
	            <button type="button" class="us-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="us-modal-close-icon us-modal-close-left"></span>
					<span aria-hidden="true" class="us-modal-close-icon us-modal-close-right"></span>
				</button>
	        </div>
	        <div id="notifier-main-block" class="modal-body us-modal-body-one-click d-flex">
				<div class="us-modal-body-one-click-left text-center">
					<div class="pb-4">{{ enter_text }}</div>
					{% if thumb is defined %}
						<img src="{{ thumb }}" class="us-modal-body-img d-block mx-auto" alt="{{ heading_title_product }}">
					{% endif %}
					<div class="product_title">{{ heading_title_product }}</div>
					{% if price %}
						<div class="us-price-block d-flex align-items-center justify-content-center">
							<div class="control-label control-label-price">
								{{ text_price }}
							</div>
							<div class="us-module-price d-flex align-items-end">
								{% if not special %}
									<div class="us-module-price-actual">{{ price }}</div>
								{% else %}
									<div class="us-module-price-old">{{ price }}</div>
									<div class="us-module-price-new">{{ special }}</div>
								{% endif %}
							</div>
						</div>
					{% endif %}
				</div>
				<div class="us-modal-body-one-click-right">
					<form method="post" enctype="multipart/form-data" id="stock-notifier-form">
						{% if oct_stock_notifier_data.name %}
						<div class="form-group-20">
							<label for="inputNotifierName" class="fsz-14 dark-text fw-500 pb-1">{% if oct_stock_notifier_data.name == 2 %}<span class="required">* </span>{% endif %}{{ enter_name }}</label>
							<input type="text" name="name" value="{{ name }}" class="form-control" id="inputNotifierName" placeholder="{{ enter_name }}" inputmode="text">
						</div>
						{% endif %}
						{% if oct_stock_notifier_data.phone %}
						<div class="form-group-20">
							<label for="inputNotifierPhone" class="fsz-14 dark-text fw-500 pb-1">{% if oct_stock_notifier_data.phone == 2 %}<span class="required">* </span>{% endif %}{{ enter_phone }}</label>
							<input type="tel" name="phone" value="{{ phone }}" class="form-control" id="inputNotifierPhone" placeholder="{{ enter_phone }}" inputmode="tel">
						</div>
						{% endif %}
						<div class="form-group-20">
							<label for="inputNotifierEmail" class="fsz-14 dark-text fw-500 pb-1"><span class="required">* </span>{{ enter_email }}</label>
							<input type="email" name="email" value="{{ email }}" class="form-control" id="inputNotifierEmail" placeholder="{{ enter_email }}" inputmode="email">
						</div>
						{% if text_terms %}
						<div class="us-form-checkbox-group us-form-checkbox-group-20">
							<input type="checkbox" id="agreeNotifierCheck" class="us-form-checkbox-input" name="agree">
							<label for="agreeNotifierCheck" class="d-flex align-items-center"><span>{{ text_terms }}</span></label>
						</div>
						{% endif %}
						<button type="submit" class="us-module-btn us-module-btn-green">{{ button_send }}</button>
						<input type="hidden" name="pid" value="{{ product_id }}">
					</form>
				</div>
				
				
				<div class="us-popup-success-notifier-text d-none flex-column align-items-center text-center w-100">
					
                    <div id="us-popup-success-notifier-text"></div>
                    <button type="button" class="rm-btn dark" data-dismiss="modal" aria-label="Close"><span class="rm-btn-text">{{ oct_info_bar_close }}</span></button>
                </div>
		    </div>
	    </div>
	</div>
<script>
$("#inputNotifierName, #inputNotifierPhone, #inputNotifierEmail, #agreeNotifierCheck").on("change paste keyup", function() {
	$(this).removeClass('error_style');
});

$('#stock-notifier-form').on('submit', function (event) {
	event.preventDefault();
	$.ajax({
		type: 'post',
		url: 'index.php?route=octemplates/module/oct_stock_notifier/add',
		dataType: 'json',
		data: $('#stock-notifier-form').serialize(),
		cache: false,
		beforeSend: function() {
			masked('body', true);
		},
		complete: function() {
			masked('body', false);
		},
		success: function (json) {
			if (json['error']) {
				$('#octStockNotifier .text-danger').remove();
				let errorOption = '';

				$.each(json['error'], function (i, val) {
					$('#octStockNotifier [name="' + i + '"]').addClass('error_style');
					errorOption += '<div class="alert-text-item">' + val + '</div>';
				});

				usNotify('danger', errorOption);
			} else {
				if (json['output']) {
					$('.us-module-btn').attr("disabled", "disabled");
					$('#octStockNotifier .modal-body').html(json['output']).removeClass('us-modal-body-one-click');
				}
			}
		}
	});
});
</script>
{% if oct_stock_notifier_data.mask is defined and oct_stock_notifier_data.mask is not empty %}
<script src="catalog/view/theme/oct_ultrastore/js/jquery.inputmask.bundle.min.js"></script>
<script>
usInputMask('#inputNotifierPhone','{{ oct_stock_notifier_data.mask }}');
</script>
{% endif %}
</div>